/* You can add global styles to this file, and also import other style files */
$primary-color: #3367B0;
$secondary-color: #FFCC04;
$background-color: #282c34;
$font-color: #ffffff;
$font-size: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: $background-color;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
